<nb-layout>
    <nb-layout-column class="chat-main">

        <nb-chat title="Conversation with a Bot">
            <nb-chat-message *ngFor="let msg of messages" type="text" [message]="msg.text" [reply]="msg.reply"
                [sender]="msg.sender" [date]="msg.date" [avatar]="msg.avatar">
            </nb-chat-message>

            <nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info" type="text"
                avatar="'../../../../../assets/user.png'" message="...">
            </nb-chat-message>

            <nb-chat-form (send)="handleUserMassage($event)" [dropFiles]="false">
            </nb-chat-form>
        </nb-chat>
    </nb-layout-column>
</nb-layout>